@page
@model GetStudentCoursesModel

@{
    ViewData["Title"] = "Student Courses";
}

<h1>Student Courses</h1>


@if (User.IsInRole("Admin") || User.IsInRole("Teacher"))
{
    <p>
        <a class="btn btn-success mt-1 mb-3 waves-effect" asp-page="/StudentCourses/AddStudentCourse">Create New</a>
    </p>
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Student Id
            </th>
            <th>
                Course Id
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentCourseDTO)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>


                    @if (!User.IsInRole("Student"))
                    {
                        <a asp-page="./GetStudentCourse" asp-route-studentid="@item.StudentId" asp-route-courseid="@item.CourseId" class="btn btn-info m-0 waves-effect">Details</a>
                        <a asp-page="./UpdateStudentCourse" asp-route-studentid="@item.StudentId" asp-route-courseid="@item.CourseId" class="btn btn-info m-0 waves-effect">Edit</a>
                        <a asp-page="./DeleteStudentCourse" asp-route-studentid="@item.StudentId" asp-route-courseid="@item.CourseId" class="btn btn-info m-0 waves-effect">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
