@page
@model GetStudentCoursesModel

@{
    ViewData["Title"] = "GetStudentCourses";
}

<h1>GStudent Courses' Details</h1>

<p>
    <a asp-page="./AddStudentCourse">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentCourseDTO[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentCourseDTO[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentCourseDTO)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
