@page
@model StudentTeacherApp.Pages.StudentCourse.GetStudentCourseModel

@{
    ViewData["Title"] = "GetStudentCourse";
}

<h1>GetStudentCourse</h1>

<div>
    <h4>StudentCourseDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCourseDTO.Student)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentCourseDTO.Student.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentCourseDTO.Course)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentCourseDTO.Course.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StudentCourseDTO?.StudentId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
