@page
@model StudentTeacherApp.Pages.Courses.GetCoursesModel

@{
    ViewData["Title"] = "GetCourses";
}

<h1>Courses Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].TeacherId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>
            <td>
                @if (!User.IsInRole("Student")){
                    <a asp-page="./UpdateCourse" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-page="./GetCourse" asp-route-id="@item.Id">Details</a> 
                @if (User.IsInRole("Student"))
                    { 
                    @*<a asp-page="./../Events/Enroll" asp-route-id="@item.Id"> Enroll</a>*@
                        <a asp-page-handler="OnClick" class="btn btn-default" method="post">Button</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
