@page "{id:int}"
@model StudentTeacherApp.Pages.Courses.GetCourseModel

@{
    ViewData["Title"] = "GetCourse";
}

<h1>Course Details</h1>

<div>
    <h4>CourseDTO</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDTO.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDTO.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseDTO.TeacherId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseDTO.TeacherId)
        </dd>
    </dl>
</div>
<div>
     @if (!User.IsInRole("Student")){
        <a asp-page="./UpdateCourse" asp-route-id="@Model.CourseDTO?.Id">Edit</a> 
     }
    <a asp-page="./GetCourses">Back to List</a>
</div>
